ClienteWS/App_WebReferences/localhostSuma/WSSuma.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sumaDosNumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="number2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumaDosNumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumaDosNumerosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sumaDosNumerosSoapIn">
    <wsdl:part name="parameters" element="tns:sumaDosNumeros" />
  </wsdl:message>
  <wsdl:message name="sumaDosNumerosSoapOut">
    <wsdl:part name="parameters" element="tns:sumaDosNumerosResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSumaSoap">
    <wsdl:operation name="sumaDosNumeros">
      <wsdl:input message="tns:sumaDosNumerosSoapIn" />
      <wsdl:output message="tns:sumaDosNumerosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSumaSoap" type="tns:WSSumaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumaDosNumeros">
      <soap:operation soapAction="http://tempuri.org/sumaDosNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSumaSoap12" type="tns:WSSumaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumaDosNumeros">
      <soap12:operation soapAction="http://tempuri.org/sumaDosNumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSuma">
    <wsdl:port name="WSSumaSoap" binding="tns:WSSumaSoap">
      <soap:address location="http://localhost:49977/WSSuma.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSumaSoap12" binding="tns:WSSumaSoap12">
      <soap12:address location="http://localhost:49977/WSSuma.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>